.userContent{
	width: 100%;
	background-color: #cfd8dc; //light gray
	color: black;
	margin: 0 auto;
	text-align: center;
}

.userDiv{
	margin: 0 auto;
	text-align: left;
	padding: 20px;
	width: 50%;
}

.tableDiv{
	margin-bottom: 20px;
	border: 1px solid #90a4ae; //gray-blue
	padding: 10px;
}

td{
	padding: 5px !important;
}