.adminDiv{
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	width: 50%;
}

.adminOps{
	padding: 15px;
	font-size: 20px;
	&:hover{
		color: white;
	}
	&:visited{
		color: none;
	}
	&:active{
		color: white;
	}
}

.left{
	text-align: left;
}

.tableP{
	padding: 5px;
	margin: 5px;
}

.adminFilter{
	font-size: 16px;
}

.success {
	color: #ffd600; //yellow
	font-size: 20px;
}

.btnDiv{
	margin-bottom: 15px;
}

.pad{
	padding: 20px !important;
}

