<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
           <a ui-sref="home"><i class="fa fa-paw fa-2x"></i></a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="AuthCheck(item)">
                <a ui-sref-active="active"  ng-click="hasParam(item, user)">{{ item.label }}</a>
            </li>
        </ul>
        <!-- ng-click="hasParam(item, user)" -->
        <!-- ui-sref="{{item.state}}" -->

        <button ng-show="!user" ui-sref="login" class="btn login-button">Login/Sign Up</button>

        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>

        <div ng-show="admin" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
        <div class="welcome cart">
            <a ui-sref="cart.editing">
                <i class="fa fa-shopping-cart"></i>
                {{cartCount}}
            </a>
        </div>
    </div>
</nav>