
<user-profile user="user"></user-profile>


<h3>Edit User</h3>
<span ng-show='success'>Success! User has been updated.</span>
<form id="user-edit-form" name="userEditForm">
  <div class="form-group">
      <label for="password">Change password</label>
      <input type="text" ng-model="user.password" class="form-control">
  </div>
  <div class="form-group">
      <label for="admin">Admin Status</label><br>
      <form>
 				<input type="radio" name='adminStatus' value='true' ng-model='user.admin'>Yes
	      <input type="radio" name='adminStatus' value='false' ng-model='user.admin'>No
	    </form>
  </div>
  <button class='btn btn-default' ng-click='updateUserInfo(user)'>Submit changes</button>
  <button class='btn btn-default' ui-sref='admin.adminProfile'>Back to all users</button>
</form>



