#home {

background-color: black;
text-align: center;


  #welcome {
    color: white;
    background-color: black;
    

    h1{
    	margin: 0;
    	padding: 50px;
    	
    }
  }
  
  #bg{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
  	}
}

