<div class='headerDiv'>
	<h1 class='header'>ORDERS</h1>
</div>

<ui-view>
	<div class='light centerDiv'>
		<div class='inventory'>
			<div class="form-group">
			    <label>Filter by Status</label></br> 
			    <span ng-repeat='status in statuses' ng-click='changeStatus(status)'>
			    	{{status}} 
			    </span>
			</div>

				<p ng-repeat='order in orders | byStatus: chosenStatus'>ID: {{order._id}}
				<button ng-click='goToOrderDetail(order)'>Edit</button>
				</p>

		</div>
	</div>
</ui-view>
