<div class='headerDiv'>
	<h1 class='header'>STORE INVENTORY</h1>
</div>

<ui-view>
	<button class='btn btn-default' ng-click='goToAdd()'>Add Products</button>
	<button class='btn btn-default' ng-click='goToCategoryAdd()'>Add Categories</button>
	
	<div class='light centerDiv'>
		<div class='inventory row'>
			<div class='col-md-6'>
					PRODUCTS
					<p ng-repeat='product in products' ng-model='product'>
						{{product.title}}<br>
						ID: {{product._id}}<br>
						<button ng-click='goToEdit(product)'>Edit</button>
					</p>
			</div>		

			<div class='col-md-6'>
				CATEGORIES
				<table  ng-repeat='category in categories'>
				  	<thead>
					  	<tr>
						  	<td>
						  		{{category.type}}
						  		<button ng-click='goToCategoryEdit(category)'>Edit</button>
						  	</td>
						  <tr>
					  </thead>
					  <tbody>
						  <tr ng-repeat='info in category.info'>
						  	<td>
						  		{{info.data}}
						  	</td>
						  </tr>
					</tbody>
				</table>
			</div>
		<div>
	</div>
</ui-view>