<h1>adminInventory</h1>

<ui-view>
	<div>
		
		<ul>
			PRODUCTS
			<li ng-repeat='product in products' ng-model='product'>
				{{product.title}}
				<button ng-click='goToEdit(product)'>Edit</button>
			</li>		
		</ul>


		<ul>
			CATEGORIES
			<li ng-repeat='category in categories'>{{category.type}}
				<button ng-click='goToCategoryEdit(category)'>Edit</button>
			</li>
		</ul>

		<button ng-click='goToAdd()'>Add Products</button>
		<button ng-click='goToCategoryAdd()'>Add Categories</button>
	</div>
</ui-view>