<div class="userDiv">

<h1 class='header'>{{user.name.first}} {{user.name.last}}</h1>

<h3 class="title">Profile Details</h3>

<div class="tableDiv">
<label class="title">Personal Information</label>
	<table>
		<tr>
			<td id="td">
				Email
			</td>
			<td>
				{{user.email}}
			</td>
		</tr>
		<tr>
			<td>
				Password(encrypted)
			</td>
			<td>
				{{user.password}}
			</td>
		</tr>
		<tr>
			<td>
				First Name
			</td>
			<td>
				{{user.name.first}}
			</td>
		</tr>
		<tr>
			<td>
				Middle Name
			</td>
			<td>
				{{user.name.middle}}
			</td>
		</tr>
		<tr>
			<td>
				Last Name
			</td>
			<td>
				{{user.name.last}}
			</td>
		</tr>		
</table>
</div>

<div class="tableDiv">
<label class="title">Addresses</label>

	<div ng-repeat='address in user.addresses'>
		<address-display address='address'> </address-display>
	</div>
</div>

<div class="tableDiv">
<label class="title">Orders</label>
	<table ng-repeat='order in user.orders'>
		<tr>
			<td>
				ID
			</td>
			<td>
				{{order._id}}
				<button class="btn btn-default" ng-click='userOrder(order)' ng-show='hasOrder'>See details</button>
			</td>	
		<tr>
	</table>
</div>

<div class="tableDiv">
<label class="title">Cart</label>
	<table>
		<tr>
			<td>
				ID
			</td>
			<td>
				{{user.cart._id}}
				<button class="btn btn-default" ng-click='userOrder(user.cart)' ng-show='hasCart'>See details</button>
			</td>
		</tr>
	</table>
</div>

<div class="tableDiv">
<label class="title">Reviews</label>
	<table class="borderBottom" ng-repeat='review in user.reviews'>
		<tr>
			<td>
				Product
			</td>
			<td>
				{{review.product}}
			</td>
		</tr>
		<tr>
			<td>
				Stars
			</td>
			<td>
				{{review.stars}}
			</td>
		</tr>
		<tr>
			<td>
				Content
			</td>
			<td>
				{{review.content}}
			</td>
		</tr>
	</table>
</div>

<div class="tableDiv">
<label class="title">Administrative Status</label>
	<table>
		<tr>
			<td>
				Admin
			</td>
			<td>
				{{user.admin}}
			</td>
		</tr>
	</table>
</div>

<div class="tableDiv">
<label class="title">Twitter Account</label>
<table>
	<tr>
		<td>
			ID
		</td>
		<td>
			{{user.twitter.id}}
		</td>
	</tr>
	<tr>
		<td>
			username
		</td>
		<td>
			{{user.twitter.username}}
		</td>
	</tr>
	<tr>
		<td>
			token
		</td>
		<td>
			{{user.twitter.token}}
		</td>
	</tr>
	<tr>
		<td>
			token
		</td>
		<td>
			{{user.twitter.tokenSecret}}
		</td>
	</tr>
</table>
</div>

<div class="tableDiv">
<label class="title">Facebook Account</label>
<table>
	<tr>
		<td>
			ID
		</td>
		<td>
			{{user.facebook.id}}
		</td>
	</tr>
</table>
</div>

<div class="tableDiv">
<label class="title">Google Account</label>
<table>
	<tr>
		<td>
			ID
		</td>
		<td>
			{{user.google.id}}
		</td>
	</tr>
</table>
<div>
</div>