<ui-view>
<section id="list" class="light"> <!-- change ID -->
	<div class="headerDiv"> 
		<h1 class="header">Animals</h1>
	</div>
	<div id="categoriesFilters" class="filter">
		<div ng-hide="typeLoading">
			<h5 class="center"> Filter: </h5>
			<div class="center" ng-repeat="categoryType in categoryTypes">
				<label class="filterOption" for="{{categoryType}}">{{categoryType}}</label>
				<select ng-model="filterValues[categoryType]" id="{{categoryType}}" name="{{categoryType}}" ng-change="updateList()">
					<option value=""></option>
					<option ng-repeat="data in typeData[categoryType]" value="{{data._id}}">{{data.data}}</option>
				</select>
			</div>
		</div>
	</div>


    <div class="products col-md-4" ng-repeat="product in products">
    	<!-- <li ng-click="goToProductDetail(product)"> go to item</li> -->
    	<product-line product="product"></product-line>
    </div>

    


</section>

</ui-view>