textarea{
	border: 1px solid #90a4ae; //gray-blue
	width: 100%;
}


.error{
	color: #b71c1c; //red
}

.stars{
	padding: 1px;
	margin: 1px;
	color: #90a4ae; //gray-blue
	// color: #ffd600; //yellow
}

.right{
	text-align: right;
	float: right !important;

	&:hover{
		text-decoration: none;
	}
}

// .box {
// 	width: 100%;
// 	background-color: #222C2E; //gray;
// 	color: white;
// }

.spaceLeft{
	margin-left: 10px;
}

.spaceBottom{
	margin-bottom: 25px;
}

.dark{
	color: #222C2E; //gray;

	&:hover{
		text-decoration: none;
	}
}

.inline{
	display: inline-block;
}

.review{
	margin-top: 10px;
}