navbar {

  display: block;
  background-color: #222C2E;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #ffd740;

  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: white;
    &:hover {
      color: #ffab00;
      text-decoration: none;
    }
  }

  .navbar{
    margin-bottom: 0; 
  }
  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #ffd740;
    }
    &:hover {
      color: #ffd740;
      background-color: #222C2E;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    padding: 15px;
    margin: 0;
    
    span {
      color: white;
    }
    a {
      color: #ffd740;
      cursor: pointer;
    }
  }

}

.cart{
  padding-right: 10px;
  color: white;
  font-size: 20px;
}

.fa-paw{
  padding: 15px;
  color: white;
  font-size: 20px; 
}