navbar {

  display: block;
  background-color: #222C2E; //gray
  margin: 0 !important;
  border-bottom: 1px solid #ffd600;

  a {
    color: white;
    &:hover {
      color: #ffd600; //yellow
      text-decoration: none;
    }
  }

  .navbar{
    margin-bottom: 0; 
  }
  .nav > li > a {
    cursor: pointer;
    &.active {
      color: #ffd600;
    }
    &:hover {
      color: #ffd600;
      background-color: #222C2E;
    }
    &:focus{
      color: #ffd600;
      background-color: #222C2E; 
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    padding: 10px;
    margin: 0;
    
    span {
      color: white;
    }
    a {
      color: #ffd600;
      cursor: pointer;
    }
  }

}

.welcomeUser{
  padding: 15px;
}

.cart{
  padding-right: 10px;
  color: white;
  font-size: 20px;
}

.fa-paw{
  padding: 10px;
  color: white;
  font-size: 20px; 
}

.subHeader{
  padding: 10px;
  margin-bottom: 20px;
  color: #cfd8dc; //light gray
}

.welcomeHeader{
  padding: 20px !important;
  color: #ffd600; //yellow
}

