<h2>Order details</h2>

<order-detail order='order'></order-detail>

<div class="userDiv form-group left">
    <label class="adminFilter title">Change Status</label></br>  
    <input ng-model="status" type="radio" name="stat" value="cart"> Cart<br>
    <input ng-model="status" type="radio" name="stat" value="in progress"> In Progress<br>
    <input ng-model="status" type="radio" name="stat" value="purchased"> Purchased<br>
    <input ng-model="status" type="radio" name="stat" value="complete"> Complete<br>
    <input ng-model="status" type="radio" name="stat" value="cancelled"> Cancelled<br>
</div>
<button class='btn' ng-click='submitOrderStat(order)'>Submit changes</button>