<h1>category editing</h1>

<pre>{{category}}</pre>

<form id="category-edit-form" name="categoryEditForm">

    <div class="form-group">
        <label for="type">Type</label>
        <input type="text" ng-model="category.newType" class="form-control">
        <button ng-click='changeType(category.type, category.newType)'>Change Type</button>
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <ul>
            <li ng-repeat='info in category.info'>{{info.data}}</li>
        </ul>
        <input type="text" ng-model="category.newData" class="form-control">
        <button ng-click='addDataEntry(category.type, category.newData)'>Add data</button>
    </div>
    <div class="form-group">
        <label for="order">Order</label>
        <input type="number" ng-model="category.order" class="form-control">
    </div>
</form>
   

<button ng-show='editCategory' ng-click='updateCategory()'>Submit changes</button>
<button ng-show='editCategory' ng-click='deleteCategory(category)'>Remove item</button>
<button ng-show='addCategory' ng-click='addNewCategory()'>Add item</button>
<button ui-sref='admin.adminInventory'>Return to inventory</button>