<div class="loginBtn">
    <button class="login btn" ng-click="loginBtn()">Login</button>
    <button class="login btn" ng-click="signupBtn()">Sign Up </button>
</div>

<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)" ng-show="enterAccount">

    <div class="alert alert-danger" ng-show="error">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<form id="signUp-form" name="signUpForm" ng-submit="signUpForm.$valid && sendSignUp(signup)" ng-show="newUser">


    <div class="alert alert-danger" ng-show="error">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>

    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" ng-model="signup.name.first" class="form-control"  placeholder="Enter first name">
    </div>

    <div class="form-group">
        <label for="firstname">Middle name</label>
        <input type="text" ng-model="signup.name.middle" class="form-control"  placeholder="Enter middle name">
    </div>

    <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" ng-model="signup.name.last" class="form-control"  placeholder="Enter last name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
    </div>


    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="signup-password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>