
.loginBtn{
	margin: 0 auto;
	width: 60%;
	text-align: center;
	padding: 20px;
	color: #ffd600; //yellow
}

.login{
	margin: 15px;	
	color: white;
}

input{
	color: black;
}

body{
	background-color: black;
	color: white;
}

form{
	padding: 20px;
	background-color: #222C2E; //gray
	border-radius: 2%;
	width: 30%;
	margin: 0 auto;
	color: white;
	border: 1px solid #ffd600; //yellow
}

.btn {
	background-color: transparent;
	color: #ffd600; //yellow
	border-color: #ffd600; //yellow
	&:hover{
		color: white;
		border-color: white;
	}
	&:active{
		color: white;
		border-color: white;
	}
	&:visited{
		color: white;
		border-color: white;
	}
	&:focus{
		color: white;
		border-color: white;
	}
}