
.googleAndFbook {
	text-align: center;
	a {
		border: 1px solid #ffd600;
		padding: 6px;
		margin: 15px;
		border-radius: 4px;
		color: #ffd600;
		&:hover {
			color: white;
			border: 1px solid white;
			text-decoration: none;
		}
	}
}


.loginBtn{
	margin: 0 auto;
	width: 60%;
	text-align: center;
	padding: 20px;
	color: #ffd600; //yellow
}

.login{
	margin: 15px;	
	color: white;
}

input{
	color: black;
}

body{
	background-color: black;
	color: white;
}

.loginForm{
	padding: 20px;
	background-color: #222C2E; //gray
	border-radius: 5px;
	width: 30%;
	margin: 0 auto;
	color: white;
	border: 1px solid #ffd600; //yellow
}

.btn {
	background-color: transparent;
	color: #ffd600; //yellow
	border-color: #ffd600; //yellow
	&:hover{
		color: white;
		border-color: white;
		outline: none;
	}
	&:active{
		color: white;
		border-color: white;
		outline: none;
	}
	&:visited{
		color: white;
		border-color: white;
		outline: none;
	}
	&:focus{
		color: white;
		border-color: white;
		outline: none;
	}
	&:active:focus{
		outline: none;
	}
}