.headerDiv {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

.header{
	margin: 0;
	padding: 0;
	text-align: center;
}

.filter{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	// padding: 15px;
	// border-bottom: 1px solid #455a64  ; //gray-blue
}

.center{
	padding: 10px;
	display: inline-block;
}

.products{
	display: inline-block;
	padding: 40px;
}