.headerDiv {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

.header{
	margin: 0;
	padding: 0;
	text-align: center;
}

.filter{
	margin: 0 auto;
	width: 75%;
	text-align: center;
	// padding: 15px;
	border-bottom: 1px solid #90a4ae; //gray-blue
}

.center{
	padding: 10px;
	display: inline-block;
}

.products{
	display: inline-block;
	padding: 40px;
	a:hover{
		text-decoration: none;
	}
}

.productLink{
  color: black;
  font-weight: bold;
  font-size: 16px; 
}

.product-line-always{
	text-align: center;
	padding: 5px;
}

.block{
	display: block;
}

.inline{
	display: inline-block;
}

.add{
	font-weight: bolder;
	color: #90a4ae; //gray-blue
	background-color: transparent;
	border: 1px solid #90a4ae; //gray-blue
	padding: 2px 8px;
	a:hover{
		background-color: #e6e6e6;
	}
	// display: inline-block;
}

.centerDiv{
	margin: 0 auto;
	text-align: center;
}

.btn-default{
	color: #90a4ae !important;
	border-color: #90a4ae !important;
}

.productDiv{
	padding: 20px;
	width: 75%;
	margin: 0 auto;
}

.productInfo{
	text-align: left;
	width: 30%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #90a4ae; //gray-blue
}


