.headerDiv {
  width: 100%;
  background-color: black;
  color: #ffd600; //yellow
  text-align: center;
  padding: 25px;
  margin: 0 auto;
  border-bottom: 1px solid #ffd600; //yellow
}

.header{
	margin: 0;
	padding: 0;
	text-align: center;
}

.filter{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-bottom: 1px solid #90a4ae; //gray-blue
}

.center{
	padding: 10px;
	display: inline-block;
}

.products{
	display: inline-block;
	padding: 40px;
	a:hover{
		text-decoration: none;
	}
}

.productLink{
  color: #ffd600; //yellow
  // font-weight: bold;
  font-size: 16px; 
  &:hover{
  	color: white;
  }
}

.product-line-always{
	text-align: center;
	padding: 5px;
}

.block{
	display: block;
}

.inline{
	display: inline-block;
}

.add{
	font-weight: bolder;
	color: #90a4ae; //gray-blue
	background-color: transparent;
	border: 1px solid #90a4ae; //gray-blue
	padding: 0px 8px 4px 8px;
}

.add:hover{
	border: 1px solid white;
	color: white
}

.centerDiv{
	margin: 0 auto;
	text-align: center;
}

.btn-default{
	color: #90a4ae !important;
	border-color: #90a4ae !important;
}

.productDiv{
	padding: 20px;
	margin: 0 auto;
}

.productInfo{
	text-align: left;
	width: 25%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #90a4ae; //gray-blue
}

.price {
	margin: 10px 0px !important;
}

.filterOption{
	font-weight: normal;
}

h5{
	font-weight: normal;
}

img{
	border: 1px solid #90a4ae !important; //gray-blue
}


.leftDiv{
	width: 50%;
	float: left;
}

.detailImg{
	width: 20%;
	margin-top: 40px;
}

.reviewLink{
	color: #ffd600; //yellow
	margin-top: 10px;
	&:hover{
		color: white;
	}
}

.title{
	color: #ffd600; //yellow
}
