
<div class="headerDiv"><h1 class="header">Add Review</h1></div>

<div class="light centerDiv">
	<div class="productDiv box">
		<div>
			<h2>{{product.title}}</h2>
		</div>

		<div class="productInfo">
			
			<label for="stars">Rate</label>
			{{rating}}
			<p>
				<input ng-model="rating" type="radio" value="1" id="rating"></input>
				<input ng-model="rating" type="radio" value="2" id="rating"></input>
				<input ng-model="rating" type="radio" value="3" id="rating"></input>
				<input ng-model="rating" type="radio" value="4" id="rating"></input>
				<input ng-model="rating" type="radio" value="5" id="rating"></input>
			</p>

			<label for="content">Review</label>
			<input ng-model="content" type="text"></input>
			<p>{{content}}</p>

			<button class="btn" ng-click="submitReview(product)"> Submit Review </button>
		</div>
	</div>

</div>




