
#cart {
}

.lineItem{

	height: 50px;

	button{
		background: black;
		border: solid 1px #ffd600;
		border-radius: 2px;
		color: #ffd600;
	}

}



.floatLeft{
	float: left;
	display: block-inline;
	color: #ffd600;
	&:hover{
		color: white;
	}
}

.alert{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	color: red;
}

.floatRight{
	float: right;
	display: block-inline;
	color: #ddb400;
	margin-left: 10px;
	margin-right: 10px;
}

.cartFrame{
	padding: 20px;
	background-color: #222C2E; //gray
	border: 1px solid #ffd600; //yellow
	border-radius: 5px;
	width: 500px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;

	button{
		background: black;
		border: solid 1px #ffd600;
		border-radius: 2px;
		color: #ffd600;
	}

	input{
		border: 0px;
		width: 300px;
		margin-bottom: 10px;
	}

	label{
		margin-right: 15px;
		width: 100px;
	}

}

.invisibleFrame{
	padding: 20px;
	background-color: black; //gray
	border: 1px solid black;
	border-radius: 5px;
	width: 500px;
	color: white;
	margin-left: auto;
	margin-right: auto;

	button{
		background: black;
		border: solid 1px #ffd600;
		border-radius: 2px;
		color: #ffd600;
	}
	
}

.cartSectionHeader{
	width: 500px;
	color: #ffd600;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}

.checkout-section{
	padding: 10px;
	margin: 10px;
	background: #BBBBBB;
}